.title{
    text-align: left;
    font-size: 23px;
    font-weight: bold;

}
.subtitle{
    text-align: left;
    font-size: 15px;
    font-weight: bold;

}
.button.easy {
    background-color: #00ff22;
   padding-left: 20px;
   color: #fff;
   font-size: 15px;
   font-weight: bold;
   border-radius: 5px;
}
.button.medium {
    background-color: #ff9800;
   padding-left: 10px;
   color: #fff;
   font-size: 15px;
   font-weight: bold;
   border-radius: 5px;
}
.button.hard {
    background-color: #ff0000;
    padding-left: 20px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
.solution{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



