body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .leetcode-clone-container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .content {
    background-color: #d4d4d7;
    padding: 20px;
    color: #000;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
  }
  
  .tags-container {
    width: 30%;
    background-color: #f7f4f4;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
  }
  
  .problem-list {
    max-height: calc(65vh); /* Adjusted calculation for max height */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: #f7f4f4;
    color: #000;
    padding: 10px;
    border-radius: 3%;
  }
  
  .problem {
    padding: 5px; /* Decreased padding to show more questions */
    margin-bottom: 5px; /* Decreased margin to show more questions */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    white-space: nowrap; /* Ensure text does not wrap */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to overflowing content */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .problem:hover {
    background-color: #e0e0e0; /* Change background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .problem .problem-details {
    display: flex;
    gap: 10px; /* Decreased gap to save space */
  }
  
  .problem .problem-difficulty {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .problem .problem-difficulty.easy {
    color: #000000;
    padding-left: 20px;
    padding-right: 25px;
    border-width: 1px;
    border-color: #54d21a;
  }
  
  .problem .problem-difficulty.medium {
    color: #000000;
    border-width: 1px;
    border-color: #ff9800;
  }
  
  .problem .problem-difficulty.hard {
    padding-left: 22px;
    padding-right: 23px;
    color: #000000;
    border-width: 1.5px;
    border-color: #f44336;
  }
  
  @media (max-width: 768px) {
    .leetcode-clone-container {
      flex-direction: column;
    }
  
    .content, .tags-container {
      width: 100%;
    }
  }
  