/* .editorsection{
    background-color: #BFD641;
     animation: myanimation 10s infinite;
}

@keyframes myanimation {
    0% {background-color: red;}
    25%{background-color:yellow;}
    50%{background-color:green;}
    75%{background-color:brown;}
    100% {background-color: red;}
} */