
.doc-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px;
    background-color: #f5f5f5;
}
.doc-nav{
    width:25%;
    height: 100%;
    border: 2px;
    padding-top: 2%;

}
.doc-body{
    width: 70%;
    border-style: solid;
    border-radius: 2%;
    background-color: #ffffff;
    box-shadow: '0px 10px 20px -10px #4603E9';

}