body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .leetcode-clone-container {
    display: flex;
    gap: 20px;
   
 
  }
  
  .content {
    /* background-color: #1f202a; */

    color: #ffffff;
    /* padding: 20px; */
   
    width: 150%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
  }
  .toggle-container {
    width: 80%; /* Ensure the buttons take the same width as content */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tags-container {
    width: 80%;
    background-color: #f7f4f4;
    height: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
    /* display: flex; */
    /* justify-content: space-between; Distribute space between buttons */
    /* align-items: center; */
  }
  .tags-container, .stats-container {
    width: 100%; /* Match width of content */
    margin-top: 20px;
    height: 100%;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    /* background-color: #1f202a; */
  }
  
  
  .problem-list {
    max-height: fit-content; /* Adjusted calculation for max height */
    overflow-y: auto; /* Enable vertical scrolling */
    /* background-color: #1f202a; */
     color: white;
    padding: 10px;
    border-radius: 3%;
  }
  
  .problem {
    padding: 5px; /* Decreased padding to show more questions */
    margin-bottom: 5px; /* Decreased margin to show more questions */
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #ccc; */
    white-space: nowrap; /* Ensure text does not wrap */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to overflowing content */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .problem:hover {
    background-color:   #95ff00;

    cursor: pointer; 
    border-radius: 10px;
  }
  
  .problem .problem-details {
    display: flex;
    gap: 10px; /* Decreased gap to save space */
  }
  
  .problem .problem-difficulty {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .problem .problem-difficulty.easy {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 25px;
    border-width: 1px;
    border-color: #54d21a;
  }
  
  .problem .problem-difficulty.medium {
    color: #ffffff;
    border-width: 1px;
    border-color: #ff9800;
  }
  
  .problem .problem-difficulty.hard {
    padding-left: 22px;
    padding-right: 23px;
    color: #ffffff;
    border-width: 1.5px;
    border-color: #f44336;
  }
  
  @media (max-width: 768px) {
    .leetcode-clone-container {
      flex-direction: column;
    }
  
    .content, .tags-container {
      width: 100%;
    }
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Full height to center spinner vertically */
  }
  