.ProblemList-container {
  width: 270px;
  height: 100%;
}

.ProblemList-items {
  width: 100%;
}

.ProblemList-items-head p {
  padding: 5px 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 25px;
}

.ProblemList-items-head hr {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
}

.ProblemList-items-body {
  padding: 10px;
  display: grid;
  grid-gap: 10px;
}

.miniProblem {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.miniProblem:hover {
  background-color: rgba(117, 115, 115, 0.53);
  font-size: 16px;
  font-weight: bold;
}

.miniProblem2 {
  /* padding: 10px; */
 
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.miniProblem2:hover {
  background-color: rgba(117, 115, 115, 0.53);
  font-size: 16px;
  font-weight: bold;
}

.ProblemList-item-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust based on the container width */
}

@keyframes icon {
  0%, 100% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}
